@using NonFactors.Mvc.Grid
@using Cosmos.Cms.Data.Logic
@model IQueryable<LayoutCatalogItem>
@{
    ViewData["Title"] = "Import Open Source Layout";
}
<div class="container mt-5 pt-2">
    <div class="row">
        <div class="col">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <p>
                Below is a list of open source layouts pre-packaged for you to use in your Cosmos CMS website.  All are open source
                and have documentation on how to use them.
            </p>
            <a title="Return to page list" class="mt-2" href="@Url.Action("Index")">Layouts <i class="fa-solid fa-circle-arrow-right"></i></a>
            @(Html.Grid(Model)
                .Build(col =>
                {
                    col.Add(m => m.Name).Titled("")
                    .RenderedAs(m => $"<a class='btn btn-sm btn-secondary' title='Import community layout.' href='{@Url.Action("ImportCommunityLayout")}/{m.Id}'>Import</a>")
                    .Encoded(false)
                    .Width("60px").Filterable(false).Sortable(false);
                    col.Add(m => m.Id).Titled("Preview")
                    .RenderedAs(m => $"<a target='_blank' title='Open layout' href='https://cosmos-layouts.moonrise.net/Layouts/{m.Id}/layout.html'><img  height='120' src='https://cosmos-layouts.moonrise.net/Layouts/{m.Id}/preview.jpg' /></a>")
                    .Filterable(false)
                    .Sortable(false)
                    .Encoded(false);
                    col.Add(m => m.Name).Titled("Name");
                    col.Add(m => m.License).Encoded(false).Titled("License")
                    .Filterable(false)
                    .Sortable(false)
                    .Encoded(false);
                    col.Add(m => m.Description).Encoded(false).Titled("Notes/Description")
                    .Filterable(false)
                    .Sortable(false);
                })
                .Using(NonFactors.Mvc.Grid.GridFilterMode.Header)
                .Empty("No layouts found")
                .Filterable()
                .Sortable()
                .Pageable()
                )
            <a title="Return to page list" class="mt-2" href="@Url.Action("Index")">Layouts <i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
    </div>
</div>


