@using NonFactors.Mvc.Grid
@model IQueryable<ArticleListItem>
@{
    ViewData["Title"] = "Trash";
}
<script src="~/js/clipboard.min.js"></script>
<div class="container mt-5 pt-2">
    <div class="row">
        <div class="col-md-6">
            <h3>Trashed Articles</h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <a title="Return to page list" class="mt-2" href="@Url.Action("Index")">Page list <i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @(
                Html.Grid(Model).Build(col =>
                {
                    col.Add(b => b.ArticleNumber).RenderedAs(r => "<a title='Recover from trash' class='btn btn-sm btn-secondary' href='/Editor/Recover/" + r.ArticleNumber +"'><i class='fa-solid fa-trash-arrow-up'></i></a>").Titled("").Encoded(false).Sortable(false).Filterable(false).Width("30px");
                    col.Add(b => b.ArticleNumber).Titled("#");
                    col.Add(b => b.Title).Width(260);
                    col.Add(i => i.Updated).Filterable(GridFilterType.Double).Css("toLocalTimeZone").Sortable(false);
                })
                .Empty("No items found")
                .Pageable()
                .Sortable()
                .Filterable()
                )
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end">
            <a title="Return to page list" class="mt-2" href="@Url.Action("Index")">Page list <i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".toLocalTimeZone").each(function (index, element) {
            $(element).html(getLocalTime($(element).html()));
        });
    });
</script>