@model NodeScriptItemViewModel
@{
    ViewData["Title"] = "Create Script";
}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <form asp-action="Create">
                @Html.AntiForgeryToken()
                <input asp-for="Id" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="EndPoint" class="control-label"></label>
                    <input asp-for="EndPoint" class="form-control" />
                    <span asp-validation-for="EndPoint" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="InputVars" class="control-label"></label>
                    <input asp-for="InputVars" class="form-control" />
                    <span asp-validation-for="InputVars" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control">

                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <p>Notes:</p>
                    <ul>
                        <li>Endpoint name and variable names are case insensitive.</li>
                        <li>Variable names use only letters or numbers.</li>
                    </ul>
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Scripts</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

