@using Cosmos.Cms.Common.Data
@using NonFactors.Mvc.Grid
@model IQueryable<ScriptCatalogEntry>
@{
    ViewData["Title"] = "Script Inventory";

    var versions = $"<a class=\"btn btn-sm btn-primary\" href=\"{Url.Action("Versions", "Code")}/#: EndPoint #\" title=\"See a list of versions for this page\"><span class='fa fa-files-o'></span> Edit</a>";
    var copyUrl = "<button class=\"clipboard btn btn-sm btn-primary\" data-clipboard-text=\"#: EndPoint #\"  title='Click to copy url'><span class='fa fa-clipboard'></span> Copy URL</button>";
    var btnGroup = "<div class=\"btn-group btn-group-sm\" role=\"group\" aria-label=\"Basic example\">" +
                   versions + copyUrl + "#= getStatusBadge(Published, EndPoint) #</div>";

    var canEdit = User.IsInRole("Administrators") || User.IsInRole("Editors");
}

<h1>Index</h1>

<div class="container mt-5 pt-2">
    <div class="row">
        <div class="col">
            <h3>@ViewData["Title"]</h3>
            <hr />
            @if (canEdit || User.IsInRole("Authors"))
            {
                <a class="btn btn-sm btn-primary" asp-action="Create">New Script</a>
            }
            @(Html.Grid(Model)
               .Build(col => {
                    col.Add(model => Html.ActionLink("", "Versions", "Code", new { Id = model.EndPoint }, new { @class = "btn btn-sm fa-solid fa-play", title = "Select" })).Width("30px");
                    col.Add(b => b.EndPoint).Titled("End Point");
                    col.Add(i => i.Updated).Filterable(GridFilterType.Double).Css("toLocalTimeZone").Titled("Updated");
                    col.Add(i => i.Published).Filterable(GridFilterType.Double).Css("toLocalTimeZone").RenderedAs(r => r.Published.HasValue ? r.Published : "DRAFT").Titled("Published");
                })
                .Using(NonFactors.Mvc.Grid.GridFilterMode.Header)
                .Empty("No versions found")
                .Filterable()
                .Sortable()
                .Pageable()
            )
           
            <form>
                <input id="selected" type="hidden" />
            </form>
        </div>
    </div>
</div>
<script>


    function getStatusBadge(published, endPoint) {
        if (published === null) {
            return "<a title=\"This page not published.\" class='btn btn-sm btn-secondary'><span class='fa fa-circle-o-notch'></span></a>";
        }
        var url = endPoint.replace("root", "");
        return "<a target=\"_blank\" title=\"This page was published as of " + kendo.toString(published, "G") + ". Click to view.\" class='btn btn-sm btn-primary' href=\"" + url + "\"><span class=\"fa fa-external-link\"></span></a>";
    }

    function formatPublishedDate(published) {
        if (published === null) {
            return "Draft";
        } else {
            return kendo.toString(published, 'G');
        }
    }

</script>