<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/aec61f6c-81f1-4589-b4a5-c743876b4847/resourceGroups/CosmosUnitTest/providers/Microsoft.Web/sites/CDTCosmosCms20220817122611</ResourceId>
    <ResourceGroup>CosmosUnitTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cdtcosmoscms20220817122611.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fd7a1668-5984-474b-b33a-9a4f47912133</ProjectGuid>
    <PublishUrl>https://cdtcosmoscms20220817122611.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CDTCosmosCms20220817122611</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>