<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag?.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="~/lib/jqwidgets/jqwidgets/styles/jqx.base.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jqwidgets/jqwidgets/styles/jqx.dark.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqx-all.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <script src="/ccms/js/TimeUtils.js"></script>
</head>
<body>
    <partial name="_CosmosMainMenuPartial" model="null" />
    @RenderBody()
</body>
</html>
