@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link text-light text-muted me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    <button id="btnNavLogoutButton" type="button" onclick="navLogout()" class="btn btn-sm bg-dark text-light" style="margin-top:-2px;">Logout</button>
    <form name="frmNavLogout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
    </form>
    <script>
        function navLogout() {
            document.frmNavLogout.submit();
        }
    </script>
}
else
{
    <div>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a> |
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}